form {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: salmon;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: white;
}

.loginForm-container {
  background-color: salmon;
  border: 6px solid salmon;
  border-radius: 6px;
  padding: 120px 0px 120px 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

input {
    border: 2px solid white;
}