form {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: salmon;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: white;
}

.loginForm-container {
  background-color: salmon;
  border: 6px solid salmon;
  padding: 120px 0px 120px 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

input {
    border-radius: 6px;
    border: 2px solid white;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px 6px;
    min-width: 0;
    box-sizing: content-box;
    letter-spacing: inherit;
    background-color: white;
}