.formUserDetails-container {
    display: grid;
}

.formControl {
    display: flex;
}

.formControl-container {
  background-color: #FFED86;
  border: 6px solid #FFED86;
  padding: 50px 0px 50px 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
}

.formControl-container-header {
    padding-bottom: 40px;
}

.MuiSelect-selectMenu {
    color:#2C46C4;
}

.MuiInputBase-root {
    width: 50%;
    margin-left: 25%;
}

.MuiInputLabel-formControl {
    left: 100px;
}